.logo {
  width: 150px;
  max-width: 100%;
  height: auto;
  margin-left: 2rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #8a8484ee; */
}

.linktags {
  margin-right: 3rem;
}
.cart-count {
  position: relative;
}
.carticon {
  margin-right: 2rem;
}
.count {
  position: absolute;
  left: 97%;
  top: 2%;
  font-size: 25px;
  z-index: 2000;
}
